*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

/*----------==header Start==---------*/

header{
    height: 100vh;
    padding-bottom: 755px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.head-top-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black ;
}

.head-top-1-left{
    margin: 12px 0 0 0;
}

.phn-1{
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid #676767;
}

.head-top-1-right{
    gap: 15px;
}

.logo img{
    width: 130px;
    height: 41px;
}

.head-top-nav{
    margin-bottom: 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #000 ;
}

.nav-middel{
    width: 450px;
}

.nav-middel ul {
    list-style: none;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0;
}

.nav-middel ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav-middel ul li a:hover{
    color: rgb(255, 187, 0);
    border-bottom: 1px solid black;
}

.nav-right{
    gap: 16px;
}

.btn-1, .btn-2{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 95px;
    height: 40px;
}

.btn-1{
    background-color: #fff;
}

.btn-2{
    background-color: #000;
    color: #fff;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom-left{
    margin-right: 60px;
}

.h-b-l-all h1{
    font-size: 48px;
    font-weight: 700;
}

.h-b-l-all p{
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 40px 0;
}

.h-b-l-btn input{
    padding: 12px 24px;
    border-radius: 5px;
}

.h-b-l-btn{
    gap: 16px;
}

.btn-3{
    background-color: #000;
    color: #fff;
    border: 1px solid black;
}

.btn-4{
    background-color: #fff;
    color: #000;
}

/*------------------==header End==--------------*/
/*------------------==T-Companis Start==--------*/

.t-companis{
    background-color: #F7F7F7;
}

.t-compani{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.all-companis-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.t-c-h2{
    font-size: 22px;
    font-weight: 700;
    padding-right: 64px;
}

.c-img{
    width: 120px;
    height: 40px;
}

.w-p-2 img{
    margin: 112px 64px 112px 0;
    height: 640px;
    width: 616px;
}

/*-------==Explore start==-------------*/

.e-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.writing-1 h2{
    font-size: 32px;
    font-weight: 700;
}

.writing-1{
    margin-left: 64px;
    margin-right: 80px;
}

.p-1{
    margin: 20px 0 ;
}

.p-3{
    margin: 20px 0 50px 0;
    padding: 0;
}

.writing-1 p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.writing-1 input{
    padding:12px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background-color:black;
    color: #fff;
}
/*--------------==courses start==-------------*/

.c-header h2{
    margin: 112px 0 24px 0;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}

.c-header{
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
}

.c-header p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.c-links ul li a{
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.c-links ul{
    list-style: none;
}

.c-links{
    margin-bottom: 64px;
}

.col-top{
    width: 100%;
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}

.col-bottom{
    width: 100%;
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}

.col-d-1{
    width: 32%;
    background-color: #F7F7F7;
}

.d-s{
    display: flex;
    justify-content: space-between;

}

.col-a-w{
    margin: 24px 18px 0 16px;
}

.star-logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.col-1-details h3{
    margin: 8px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.col-1-details p{
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.col-1-order{
    gap: 16px;
    align-items: center;
    margin: 24px 0 24px 0;
}

.col-1-order button{
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.col-d-2{
    width: 32%;
    background-color: #F7F7F7;
}

.col-d-3{
    width: 32%;
    background-color: #F7F7F7;
}

.col-d-4{
    width: 32%;
    background-color: #F7F7F7;
}

.col-d-5{
    width: 32%;
    background-color: #F7F7F7;
}

.col-d-6{
    width: 32%;
    background-color: #F7F7F7;
}

.btn-5 input{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 8px 16px;
    display: flex;
    margin-left: 43%;
}

.btn-5{
    width: 100%;
}

.col{
    margin-bottom: 112px;
}

/*--------------==courses end==-------------*/
/*--------------==Reviews Start==-------------*/

.r-top {
    margin-bottom: 80px;

}

.r-top h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
}

.r-top p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.r-content{
    margin: 112px 0;
}

.w-r{
    padding-left: 20px;
}

.r-col-1{
    border: 1px solid black;
    border-radius: 5px;
    width: 416px;
    padding: 15px;
}

.r-col-2{
    border: 1px solid black;
    border-radius: 5px;
    width: 416px;
    padding: 15px;
}

.r-col-3{
    border: 1px solid black;
    border-radius: 5px;
    width: 416px;
    padding: 15px;
}

.r-col {
    display: flex;
    gap: 30px;
    margin-bottom: 48px;
}

.r-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icon{
    gap: 8px;
}

.right-icon{
    gap: 15px;
}

.right-icon i{
    padding: 12px;
    border: 1px solid black;
    border-radius: 50px;
}

/*--------------==Reviews end==-------------*/
/*--------------==Footer start==-------------*/

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-content{
    margin: 80px 0;
}

.footer-top-left h2{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.footer-top-left p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.f-t-r-s{
    gap: 16px;
}

.f-m-2nd{
    display: inline-grid;
}

.f-m-3rd{
    display: inline-grid;
}

.f-m-4th{
    display: inline-grid;
}

.footer-bottom-link a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}





/*--------------==Footer end==-------------*/



















